*{margin: 0;padding: 0;}
/* Scrollbar of the Browser */
::-webkit-scrollbar {
    width: 15px;
    
}
::-webkit-scrollbar-button {
    background-color: green;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background-color: blue;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: red;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(185, 9, 9);
}

body {
    animation: colorch 3s infinite alternate linear;
}
@keyframes colorch {
    0% {
        background-color: red;
    }
    25% {
        background-color: blue;
    }
    50% {
        background-color: black;
    }
    75% {
        background-color: green;
    }
    100% {
        background-color: orangered;
    }
}



.nisa-container {
    width: 100%;
    margin: auto;
}
.nisa-content img {
    width: 440px;
    height: 370px;
}
.nisa-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
   
}
.nisa-content h2 {
    font-weight: 400;
}
.nisa-content h3 {
    color:#D1B06B;
    font-size: 23px;
}
.nisa-content h4 a {
    text-decoration: none;
    color: #D1B06B;
    font-size: 20px;

}
.nisa-content-1 {
    margin: auto;
    height: 80vh;
    padding: 30px;
}
.nisa-content-2 {
    margin: auto;
    height: 80vh;
    padding: 30px; 
}
.nisa-content-3 {
    margin: auto;
    height: 80vh;
    padding: 30px;
}
.nisa-content-4 {
    margin: auto;
    height: 80vh;
    padding: 30px;
}
.nisa-content-5 { 
    margin: auto;
    height: 80vh;
    padding: 30px;
}
.nisa-content-6 {
    margin: auto;
    height: 80vh;
    padding: 30px;
}
.shorukhs_part{
    background-color: #161D27;
    width: 100%;
    height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forcent{
    width: 90%;
    height: 125vh;
    background-color: #161D27;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
}
.comment2{
    display: grid;
    grid-template-columns: repeat(4, 24.5%);
    grid-template-rows: auto;
    gap: 10px;
}
#luffy{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}
.comm1{
}
.comm2{
}
.comment1{
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.full{
    width: 100%;
    height: 391px;
    background-color: #2E3947;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1px 1px 1px 40px;
}
.full4{
    width: 100%;
    height: 391px;
    background-color: #2E3947;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px 1px 1px 1px;
}
.full p{
    margin-right: 34px;
    margin-left: 34px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #D7D7D7;
}
.full4 p{
    margin-right: 34px;
    margin-left: 34px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #D7D7D7;
}
.full img{
    margin-right: 70%;
    margin-bottom: 30px;
}
.full4 img{
    margin-right: 70%;
    margin-bottom: 30px;
}
.full2{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.full3{
    margin-bottom: 20px;
    width: 90%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.full2 img{
    margin-right: 20px;
}
.full3 img{
    margin-right: 20px;
}
#name{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}
#job{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #D7D7D7;
}
body{
    height: 100vh;
  
}.fb-img{
    margin-left: 5em;
    display: flex;
}img{
    text-align: center;
    margin: 5px;
}
h1{
    text-align: center;
}.fb-img p{
    
}