*{margin: 0;padding: 0;}
/* Scrollbar of the Browser */
::-webkit-scrollbar {
    width: 15px;
    
}
::-webkit-scrollbar-button {
    background-color: green;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background-color: blue;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: red;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(185, 9, 9);
}

body {
    animation: colorch 3s infinite alternate linear;
}
@keyframes colorch {
    0% {
        background-color: red;
    }
    25% {
        background-color: blue;
    }
    50% {
        background-color: black;
    }
    75% {
        background-color: green;
    }
    100% {
        background-color: orangered;
    }
}

.BSsite{
    width: 100%;
}
.BScontaine{
   width: 100%;
   height: 140vh;
   background-image:linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5),rgba(0,0,0, 0.5)) ,url(./images/BSbackground.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
}
.BScontaine1{
    width: 95%;
    margin: auto;
    height: 120vh;
    display: grid;
   grid-template-columns: auto;
   grid-template-rows: 20% 15% 105%;
}
.BSlogo{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    gap: 50px;
    align-items: center;
}
.BSlogo1{
    display: grid;
    justify-items: start;
}
.BSlogo1 a{
    text-decoration: none;
    opacity: 1;
}
.BSlogo2{
    display: grid;
    justify-items: end;
    margin-right: 50px;
}
.BSlogo2 a{
    text-decoration: none;
    padding: 24px 71px;
    background: rgba(255, 255, 255, 0.1);
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    color: white;
    
}
.BSlogo1 a:hover{
    opacity: 0.7;
}
.BSlogo2 a:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(48, 83, 198);
}
.BSmenu{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    align-items: center;
    width: 100%;
    border-top: 2px solid #4E555F;
    border-bottom: 2px solid #4E555F;
}
.BSmenu1{
    width: 70%;
}
.BSmenu1 ul{
     display: flex;
     justify-content: space-between;
}
.BSmenu1 li{
    list-style: none;
}
.BSmenu1 a{
    text-decoration: none;
    font-style: normal;
font-weight: 400;
font-size: 22px;
font-family: 'Outfit', sans-serif;
color: white;
}
#a1{
    color: #D1B06B;
}
.BSmenu1 a:hover{
    color: #D1B06B;
}
.BSmenu2{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-items: end;
}
.BSmenu2a{
    display: flex;
    align-items: center;
}
.BSmenu2a1{
    margin: 6px;
}
.BSmenu2a2 p{
    font-style: normal;
font-weight: 400;
font-size: 18px;
font-family: 'Outfit', sans-serif;
color: #D1B06B;
}
.BSmenu2a2 h4{
    font-style: normal;
font-weight: 400;
font-size: 22px;
font-family: 'Outfit', sans-serif;
color: white;
}
.BSmain{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    width: 100%;
}
.BSmain1{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}
.BSmain1b h1{
    font-style: normal;
font-weight: 400;
font-size: 65px;
line-height: 78px;
font-family: 'Cormorant', serif;
color: white;
}
.BSmain1c p{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    color: #D1B06B;
    font-family: 'Outfit', sans-serif;
}
.BSmain1c{
    margin: 24px 0px;
}
.get{
    margin-top: 24px;
}
.get a{
    font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 35px;
font-family: 'Outfit', sans-serif;
color: #1F2732;
text-decoration: none;
padding: 25px 71px;
background: #D1B06B;
border: 1px solid #D1B06B;
border-radius: 0px;
}
.BSmain1a{
    margin-bottom: 24px;
}
.get a:hover{
    background: #dac089;
border: 1px solid #dac089;
border-radius: 0px;
color: #0a3781;
}

.BSmain2{
    margin-top: 30px;
}

.nisa-container {
    width: 100%;
    margin: auto;
}
.nisa-content img {
    width: 440px;
    height: 370px;
}
.nisa-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
   
}
.nisa-content h2 {
    font-weight: 400;
}
.nisa-content h3 {
    color:#D1B06B;
    font-size: 23px;
}
.nisa-content h4 a {
    text-decoration: none;
    color: #D1B06B;
    font-size: 20px;

}
.nisa-content-1 {
    margin: auto;
    height: 80vh;
    padding: 30px;
}
.nisa-content-2 {
    margin: auto;
    height: 80vh;
    padding: 30px; 
}
.nisa-content-3 {
    margin: auto;
    height: 80vh;
    padding: 30px;
}
.nisa-content-4 {
    margin: auto;
    height: 80vh;
    padding: 30px;
}
.nisa-content-5 { 
    margin: auto;
    height: 80vh;
    padding: 30px;
}
.nisa-content-6 {
    margin: auto;
    height: 80vh;
    padding: 30px;
}
.shorukhs_part{
    background-color: #161D27;
    width: 100%;
    height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forcent{
    width: 90%;
    height: 125vh;
    background-color: #161D27;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
}
.comment2{
    display: grid;
    grid-template-columns: repeat(4, 24.5%);
    grid-template-rows: auto;
    gap: 10px;
}
#luffy{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}
.comm1{
}
.comm2{
}
.comment1{
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.full{
    width: 100%;
    height: 391px;
    background-color: #2E3947;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1px 1px 1px 40px;
}
.full4{
    width: 100%;
    height: 391px;
    background-color: #2E3947;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px 1px 1px 1px;
}
.full p{
    margin-right: 34px;
    margin-left: 34px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #D7D7D7;
}
.full4 p{
    margin-right: 34px;
    margin-left: 34px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #D7D7D7;
}
.full img{
    margin-right: 70%;
    margin-bottom: 30px;
}
.full4 img{
    margin-right: 70%;
    margin-bottom: 30px;
}
.full2{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.full3{
    margin-bottom: 20px;
    width: 90%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.full2 img{
    margin-right: 20px;
}
.full3 img{
    margin-right: 20px;
}
#name{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}
#job{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #D7D7D7;
}
.BN-container1 {
    display: flex;
    justify-content: center;
    background-color: #1f2732;
    height: 945px;
    align-content: center;
  }
  .BN-container-95 {
    width: 95%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    height: 945px;
    align-content: center;
  }
  .BN-container-items1 {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto;
    justify-content: center;
  }
  .BN-container-items1 {
    height: 490px;
  }
  .BN-container-subitems11 h1 {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 9px;
  }
  .BN-container-subitems11 p {
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #d7d7d7;
    margin-top: 43px;
    margin-bottom: 37px;
  }
  .BN-container-items2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .BN-container-subitems11 a {
    font-family: "Outfit", sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #1f2732;
    padding: 24px 71px;
    background-color: #d1b06b;
  }
  .BN-container-subitems12 {
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 40px;
    height: 490px;
  }
  .BN-container-subitems12 h2 {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 54.6px;
    letter-spacing: 0.4px;
    color: #1f2732;
    margin-bottom: 12px;
  }
  .BN-container-subitems12 p {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #909090;
    margin-bottom: 37px;
  }
  .BN-container-subitems12-border {
    border: 15px solid #d7d7d7;
    border-radius: 0px;
    box-sizing: border-box;
    padding: 50px 40px;
  }
  .BN-Call-on-us {
    display: flex;
  }
  .BN-cell-image {
    margin-right: 15px;
  }
  .BN-contacts p {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.4px;
    color: #1f2732;
    margin-bottom: 0%;
  }
  .BN-contacts h3 {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0.4px;
    color: #1f2732;
  }
  .BN-container2 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 945px;
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .BN-container-items2 {
    background-color: #1f2732;
    height: 665px;
    width: 1360px;
    box-sizing: border-box;
    padding: 100px;
  }
  form {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 22px;
    letter-spacing: 0.4px;
    color: #ffffff;
  }
  .BN-top-form {
    display: flex;
    justify-content: space-between;
  }
  .BN-top-form-sub {
    width: 48%;
  }
  input {
    background-color: #1f2732;
    border: none;
    border-bottom: 2px solid #3b434e;
    width: 100%;
    margin-bottom: 38px;
  }
  #Your-Message{
      margin-top: 80px;
  }
  .BN-container-items2 a {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 22px;
    letter-spacing: 0.4px;
    color: #3b434e;
    padding: 32px 31px;
    background-color: #ffffff;
    text-align: center;
    text-decoration: none;
    width: 305px;
    height: 85px;
  }
  .BN-appointment{
      margin: auto;
  }
  .BN-appointment a:hover{
      color: white;
      background-color: #d1b06b;
  }
  .BN-contact-us a:hover{
      background-color: crimson;
      color: white;
  }
body{
    height: 100vh;
  
}.fb-img{
    margin-left: 5em;
    display: flex;
}img{
    text-align: center;
    margin: 5px;
}
h1{
    text-align: center;
}.fb-img p{
    
}
.HM-obshi{
    width: 100%;
    height: 100vh;
background-color: #161d27;
}
.HM-surat{
  width: 100%;
  height: 1050px;
    display: grid;
grid-template-columns:95%;
grid-template-rows: 35% auto 15%;
justify-content: space-around;
background-color: #161d27;
}
.imejoo{
position: relative;
top: 150px;
}
.HMcon1{
    width: 100%;
    height: 30px;
}
.HMcon2{
    display: grid;
    grid-template-columns: 30% 20%  20% 30%;
    grid-template-rows: auto;
}
.ccco3 hr{
height: 1px;
background: #161d27;
width: 80%;
}
.ccco2{ 
margin-left: 50px;
}
.ccco3{
   margin-left: 50px;
}
.ccco4{
    margin-left: 50px;
}
.ccco4 p{
 margin-left: 80px;
 position: relative;
 bottom: 25px; 
 color: #D7D7D7;
}
.hrt{
    background: #3B434E;
}
.copy{
    height: 32px;
    width: 348px;
    padding-top: 20px;
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
letter-spacing: 0.4px;
color: #D7D7D7;
}
.h1ho{
    display: flex;
}
.victor{
    font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 22px;
padding-top: 20px;
margin-left: 10px;
line-height: 35px;
letter-spacing: 0.4px;
color: #D1B06B;
}
.victor:hover{
    color: #D7D7D7;
}
li:hover{
    color: #D1B06B;
}
.copy1{
    padding-top: 20px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #D7D7D7;
}
.fol{
    font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
letter-spacing: 0.4px;
color: #D1B06B;
margin-left: 340px;
padding-top: 20px;
}
.h1ho i{
    color: #D7D7D7;
    padding-top: 30px;
    margin-left: 10px;
}
.h1ho i:hover{
    color: #D1B06B;
}
a{
    text-decoration: none;
}
.hrt1{
    background: #D7D7D7;
    margin-top: 20px;
}
.hq{
    font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 39px;
letter-spacing: 0.4px;
color: #FFFFFF;
padding-top: 10px;
padding-bottom: 10px;
}
.ccco1 hr{
    background: #3B434E;
    height: 1px;
    width: 92%;
}
.l1{
    padding-top: 50px;
}
li{
    padding-top: 20px;
    font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
list-style: none;
letter-spacing: 0.4px;
text-transform: capitalize;
color: #D7D7D7;
}
.HM-drn{
    width: 100%;
    display: flex;
}
.HM-right{
    margin-left: 90px;
}
.ccco2 hr{
    width: 80%;
    background: #3B434E;
    height: 1px;
}

